<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
<%= flash_messages %>
  <% if current_page?(spree.cart_path) || current_page?('/checkout/registration') || current_page?('/checkout') || current_page?('/login') || current_page?('/signup') || current_page?('/checkout/address') || current_page?('/checkout/payment') || current_page?('/checkout/delivery') || current_page?('/checkout/confirm') || current_page?('/orders') || current_page?(spree.update_password_path) || current_page?(spree.reset_password_path) %>
   <%= render partial: 'spree/shared/checkout_header' %>
  <% else %>
    <%= render partial: 'spree/shared/header' %>
    <%-# render partial: 'spree/shared/sale_banner' %> 
  <% end %>

          <%= yield %>

        <%= yield :templates %>
	
	<%-# TODO show CW 101 opt in conditionally unless page.handle == 'orders' or page.handle == 'sign-up' or template == 'cart' or page.handle == 'sale-sign-up-thank-you' or template contains 'customer' or page.handle == 'ambassador' or page.handle == 'angular' or page.handle == 'share' -%>
   <% if current_page?(spree.cart_path) || current_page?('/checkout/registration') || current_page?('/checkout') || current_page?('/login') || current_page?('/signup') || current_page?('/checkout/address') || current_page?('/checkout/payment') || current_page?('/checkout/delivery') || current_page?('/checkout/confirm') || current_page?('/orders/*') || current_page?(spree.update_password_path) || current_page?(spree.reset_password_path)%>
   <%= render partial: 'spree/shared/checkout_footer' %>
    
   <% else %>
    <%= render partial: 'spree/shared/carbon_wheels_101_opt_in' %>
    <%= render partial: 'spree/shared/footer' %>

	<%= render partial: 'spree/shared/become_a_dealer_modal' %>
	<%= render partial: 'spree/shared/get_sponsored_modal' %>
	<%= render partial: 'spree/shared/work_at_tokyowheel_modal' %>
   <% end %>
   
	
    <%= render partial: 'spree/shared/google_analytics' %>
	<%= render partial: 'spree/shared/adroll' %>
	<%= render partial: 'spree/shared/mouseflow' %>
	<%= render partial: 'spree/shared/klaviyo' %>
	<script>$('.lazyYT').lazyYT();</script>
	<%= render partial: 'spree/shared/buysafe' %>
  </body>
</html>
