<% @body_id = 'cart' %>
<div id='shopping-cart' class="container" data-hook="cart_container">
 <div class='row'> 
	 <div class='col-md-12'>
		 <h1 class="page-header"><%= Spree.t(:shopping_cart) %></h1>
	 </div><!-- col -->
 </div><!-- row -->

  <% if @order.line_items.empty? %>

    <div data-hook="empty_cart">
      <div class="alert alert-info"><%= Spree.t(:your_cart_is_empty) %></div>
      <p><%= link_to Spree.t(:continue_shopping), "/pages/wheels", :class => 'btn btn-default' %></p>
    </div>

  <% else %>
  <div class='row'>
      <div class='col-md-12 hidden-xs hidden-sm'>
    		<center><span id="buySAFE_Kicker" name="buySAFE_Kicker" type="Kicker Guaranteed Border 960x38"></span></center>
      </div><!-- col -->
      <div class='col-sm-12 visible-sm'>
    		<center><span id="buySAFE_Kicker" name="buySAFE_Kicker" type="Kicker Guaranteed Ribbon 700x30"></span></center>
      </div><!-- col -->
      <div class='col-xs-12 visible-xs'>
    		<center><span id="buySAFE_Kicker" name="buySAFE_Kicker" type="Kicker Guaranteed Ribbon 200x90"></span></center>
      </div><!-- col -->
    
    </div>
    <hr>
  <div class='row'>
  <div class="col-md-3 col-sm-6">
        <h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> <a data-toggle="modal" href="#shipping-rates">FREE Shipping Worldwide</a></h4>
      </div>    
  <div class="col-md-3 col-sm-6">
        <h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> <a href='#guarantee-no-customs-tax'>110% Guaranteed No Customs Taxes</a></h4>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> <a href='#guarantee-money-back'>365 Day Test Ride</a></h4>      
      </div>
      <div class="col-md-3 col-sm-6">
      <h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> <a href='#guarantee-speed'>110% Speed Guaranteed</a></h4>      
      </div>
    </div><!-- row -->
    <div data-hook="outside_cart_form">
      <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items" class="">
            <%= render :partial => 'form', :locals => { :order_form => order_form } %>
          </div>
		  
<div class='row'>
          
		  
	      <div id="empty-cart" class="col-md-9 col-sm-7" data-hook>
			  <hr class='visible-xs' style='margin:.5em'>
	        <%= form_tag empty_cart_path, :method => :put do %>
	          <p id="clear_cart_link" data-hook>
	            <%= submit_tag Spree.t(:empty_cart), :class => 'btn btn-default' %>
	            <%= Spree.t(:or) %>
	            <%= link_to Spree.t(:continue_shopping), "/pages/wheels", :class => 'continue' %>
	          </p>
	        <% end %>
	      </div>
        </div><!-- row -->
      

    
</div><!-- row -->	
	  <div class="well text-right">
	    <div class="row">
	      <div class="col-sm-8">
			  <div class='row'>
	        	<div class="col-md-12 payment-icons-lg">	
	              	<img class="img-responsive pull-left hidden-xs hidden-sm" src="http://cdn.tokyowheel.com/payment-icons-lg.png" alt="VISA, Mastercard, Maestro, Discover, Diners Club, JCB, Paypal">
					<img class="img-responsive visible-xs visible-sm" src="http://cdn.tokyowheel.com/payment-icons-lg.png" alt="VISA, Mastercard, Maestro, Discover, Diners Club, JCB, Paypal">
				</div>  
			</div><!-- row -->
			<div class='row'>
	            <div class="col-sm-5 col-md-6" data-hook="cart_buttons">
	              <div class="input-group">
	              <%= order_form.text_field :coupon_code, :placeholder => Spree.t(:coupon_code), class: "form-control" %>
	               <span class="input-group-btn">
	  				 <%= button_tag :class => 'btn btn-default', :id => 'update-button' do %>
	                <%= Spree.t(:update) %>
	  			  </span>
	  			  </div><!-- /input-group -->
	              <% end %>
	            </div><!-- col -->  
				</div><!-- row -->    
			</div><!-- col -->
	      <div class="col-sm-4">
	      		<h4><small>Sub-total</small> <span class='money'><%= order_form.object.display_total %></span></h4>
            
	             <h4 class="split-test01">+ <a data-toggle="modal" href="#shipping-rates">FREE Shipping Worldwide</a></h4>

	        <h3 class="split-test01"><%= Spree.t(:total) %> <span class='text-danger'><%= order_form.object.display_total %></span></h3>
	            <%= button_tag :class => 'btn btn-lg btn-success', :id => 'checkout-link', :name => 'checkout' do %>
	              <%= Spree.t(:checkout) %>
	            <% end %>
        
	      	</div>
	    </div><!-- row -->
    <hr>
	    <p class='text-left'>Tokyowheel has a few guarantees designed to take anxiety out of purchasing, and eliminate the chance of a rider having a negative experience buying Tokyowheels. We have 3 main guarantees. <strong>110% Guaranteed No Customs Taxes</strong>. <strong>110% Moneyback Test Ride</strong>. <strong>110% Speed Guaranteed</strong>. Here is a little more info on each of those:</p>
    
	    <div class='row text-left' id='guarantee-no-customs-tax'>
	      <div class="col-sm-4">
	        <h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> 110% Guaranteed No Customs Taxes</h4>
	        <p>We are experts in global logistics and shipping, and we ship out wheels so customers don't pay any fees or taxes. As a company philosophy we believe that in an ideal world all riders should have equal access to our products. A rider in L.A. should get his wheels for the same total price as a rider in Mozambique. Free worldwide shipping and guaranteed no customs taxes is a big part of our effort to make that a reality. It's also an integral part of how we plan to lead the cycling industry and expand globally. We back that up with a 110% Guarantee, which means that in the case that you have to pay any additional fees to get your wheels to your door, we'll refund you 100% the cost of those fees, plus an extra 10% to say thanks (This rarely happens, but when it does we go the extra mile to support our riders) 
	</p>
	      </div>
	      <div class="col-sm-4" id='guarantee-money-back'>
	        <h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span>365-Day test ride + 110% Moneyback Paid Returns</h4>      
	        <p>If you buy wheels from Tokyowheel, try them for up to 1 year and don't like them, then we have a responsibility to do something major to help you out. It's only fair. What we do is pay for the return shipping of the wheels, give a full refund, and an extra 10% cash back (via paypal). We don't want anyone to ever say they experienced anything short of amazing when dealing with us. That's our goal.</p>
	      </div>
	      <div class="col-sm-4" id='guarantee-speed'>
	      <h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> 110% Speed Guaranteed</h4>      
	        <p>If you are looking for that extra speed edge, try Tokyowheel. We guarantee you will ride faster with our wheels, and if you don't, we'll pay for you to send them back, give you a full refund, and pay you an extra 10% as a thank you for trying them out.</p>
	      </div>
	    </div><!-- row -->
	    <div class='row text-left'>
			<div class='col-md-12'>
	      <p><strong>As you can probably see, we're confident in our products.</strong> There would be no way that we could stay in business if our wheels were bad and we had a large number of people taking us up on these guarantees. The truth is we rarely have anyone that needs to use these guarantees, but if you happen to be one of the rare people who have a negative experience with Tokyowheel, then we appreciate the chance to show you how much we respect you as a rider and a customer. These guarantees are the official structured company policy that we use to show our respect and appreciation for our customers.</p>

	<p>If you have any questions, just let me know, and also let me know if you need something the we don't offer. Thanks.</p>
	<h5 class='text-right'>James Ferrer [Tokyowheel]</h5>
	      <h5 class='text-right'><a href='mailto:questions@tokyowheel.com'><i class="fa fa-envelope-o"></i> Click Here To Email James</a></h5>
</div><!-- col -->
	    </div><!-- row -->
	  </div><!-- well -->
        <% end %>
      </div>
  <% end %>
</div>

<!-- Shipping -->
<%= render :partial => 'spree/shared/shipping_modal' %>
