<div class="row">
  <div class="col-sm-12" data-hook="shipping_fieldset_wrapper">
      <h3 class=""><%= Spree.t(:shipping_address) %></h3>
  <div class="panel panel-default white" id="shipping" data-hook>
      <%= form.fields_for :ship_address do |ship_form| %>
       
        <div class="panel-body">          
          <%= render :partial => 'spree/address/form', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address} %>
        </div><!-- panel-body -->
      <% end %>
    </div><!-- panel -->
  </div><!-- col -->

  <div class="col-sm-12" data-hook="billing_fieldset_wrapper">
      <h3 class=""><%= Spree.t(:billing_address) %></h3>
  <div class="panel panel-default white" id="billing" data-hook>
      <%= form.fields_for :bill_address do |bill_form| %>
        
        <div class="panel-body">
          <p class="field checkbox" data-hook="use_shipping">
            <%= label_tag :order_use_billing, :id => 'use_shipping' do %>
              <%= check_box_tag 'order[use_shipping]', '1', @order.shipping_eq_billing_address? %>
              <%= Spree.t(:use_billing_address) %>
            <% end %>
          </p>
          <%= render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>
        </div><!-- panel-body -->
      <% end %>
    </div><!-- panel -->
  </div><!-- col -->

</div><!-- row -->

<div class='row'>
<div class="form-buttons" data-hook="buttons">
<div class='col-sm-4'>    
  <% if try_spree_current_user %>
    <span data-hook="save_user_address">
      &nbsp; &nbsp;
      <%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
      <%= label_tag :save_user_address, Spree.t(:save_my_address) %>
    </span>
  <% end %>
</div><!-- col -->
<div class='col-md-4 col-md-offset-8 col-sm-6 col-sm-offset-6'>
  <%= submit_tag Spree.t(:next), :class => 'btn btn-lg btn-block btn-primary' %>
   
</div><!-- col -->
</div><!-- well -->
</div><!-- row -->
<hr>
