<h3 class=""><%= Spree.t(:payment_information) %></h3>
<div class="panel panel-default white" id="payment" data-hook>
  
  <div class="panel-body" data-hook="checkout_payment_step">
    <% if @payment_sources.present? %>
	
      <ul class="card_options list-group">
		  <li  class="list-group-item">
			  <label for="use_existing_card_yes"> <%= radio_button_tag 'use_existing_card', 'yes', true%> Use an existing card on file</label>
		 </li>
		 <li  class="list-group-item">
        <label for="use_existing_card_no"><%= radio_button_tag 'use_existing_card', 'no'  %> Use a new card / payment method</label>
      </li>

      <div id="existing_cards">
		  <h5>My Cards</h5>
        <p class="form-group" data-hook="existing_cards">
        
				<ul class='list-group existing-credit-card-list'>
              <% @payment_sources.each do |card| %>
			  
				  <li class="list-group-item">
					  <label><%= radio_button_tag "order[existing_card]", card.id, (card == @payment_sources.first), { class: "existing-cc-radio" }  %> <span class='hidden-xs hidden-sm'><%= card.name %></span> <span class='text-muted-dark' ><%= card.display_number %></span> <span class='text-muted hidden-xs'><%= card.month %>/<%= card.year %></span> <ul class="field__icon payment-methods" ><li class="payment-method generic">Credit Card</li></ul>
		</label>
			</li>    
              <% end %>
			  			  </ul>
            
        </p>
      </ul>
    <% end %>
			
    <ul class="list-group" id="payment-method-fields" data-hook>
      <% @payment_sources.each do |method| %>
      <li class="list-group-item">
        <label>
		  <%= radio_button_tag "order[existing_card]", method.id, (method == @payment_sources.first), { class: "" }  %>
          <%= Spree.t(method.name, :scope => :payment_methods, :default => method.name) %>
		  <% if method.name == 'Credit Card' %>
		  <ul class="field__icon payment-methods" >
		                      <li class="payment-method generic visible-xs">Credit Card</li>
		                        <li class="payment-method visa hidden-xs">Visa</li>
		                        <li class="payment-method master hidden-xs">MasterCard</li>
		                        <li class="payment-method american-express hidden-xs">American Express</li>
		                        <li class="payment-method discover hidden-xs">Discover</li>
		                        <li class="payment-method jcb hidden-xs">JCB</li>
		                        <li class="payment-method diners-club hidden-xs">Diners Club</li>
		  </ul>
		  <% end %>
		  <% if method.name == 'PayPal'%>
		  <ul class="field__icon payment-methods">
		  	<li class="payment-method payment-method--logo paypal"></li>
		  </ul>
		  <% end %>
        </label>
      </li>
      <% end %>
    </ul>

    <ul class="nav" id="payment-methods" data-hook>
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
          <fieldset <% if method.method_type == 'paypal'%>class='text-center'<% end %> >
            <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
          </fieldset>
        </li>
      <% end %>
    </ul>

  <!--  <p class='field' data-hook='coupon_code'>
      <%= form.label :coupon_code %><br />
      <%= form.text_field :coupon_code, :class => 'form-control' %>
    </p> --> 
	
  </div>
</div>

<div class="text-right form-buttons" data-hook="buttons">
	<div class='row'>
		<div class="col-md-4 col-md-offset-8 col-sm-6 col-sm-offset-6">
			<%= submit_tag t(:place_my_order), class: 'btn btn-lg btn-success btn-block' %>
		</div><!-- col -->
	</div><!-- row -->
  <script>Spree.disableSaveOnClick();</script>
</div>
<hr>
<script>
$(function() {
    $("#use_existing_card_yes").click(function(){
         
            $("#existing_cards").show();
    });
    $("#use_existing_card_no").click(function(){
            $('#existing_cards').hide();
    });
 });
 </script
