<div class=" well well-sm">
<h4 class=""><%= Spree.t(:order_summary) %></h4>
	
<table class='table'>
<% order.line_items.each do |i| %>
	<tr>
	<td class="">
		<%= product_image(i.variant, class: "img-responsive")%>
	</td><!-- col -->
	<td class="">
		<p><strong><%= i.variant.name %></strong> <span class ='text-muted-dark'><%= Spree::Money.new(i.price).to_html %> x <%= i.quantity %></span><p>
			<span class="text-muted"><%= i.variant.options_text %></span>
	</td><!-- col -->
	<td class="text-right">
		<span class=''><strong><%= Spree::Money.new(i.total).to_html %></strong></span>
	</td><!-- col -->
</tr>
<% end %>
</table><!--  -->
<hr class=''>	
<div data-hook="order_summary">
  <div>
    <div data-hook="item_total" class="row">
      <div class='col-sm-6'><span class='text-muted text-left'><%= Spree.t(:subtotal) %></span></div><!-- col -->
      <div class='col-sm-6  text-right'><span class='text-muted-dark'><strong><%= order.display_item_total.to_html %></strong></span></div><!-- col -->
    </div>

    <% if order.line_item_adjustments.nonzero.exists? %>
      <div data-hook="order_details_promotion_adjustments">
        <% order.line_item_adjustments.nonzero.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
          <div class="total row">
            <div class='col-sm-6'><span class='text-muted'><%= label %></span></div><!-- col -->
            <div class='col-sm-6  text-right'><span class='text-muted-dark'><strong><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></strong></span></div><!-- col -->
          </div>
        <% end %>
      </div>
    <% end %>

    <tbody data-hook="order_details_tax_adjustments">
      <% order.all_adjustments.nonzero.tax.eligible.group_by(&:label).each do |label, adjustments| %>
        <div class="total row">
          <div class='col-sm-6'><span class='text-muted'><%= label %></span></div><!-- col -->
          <div class='col-sm-6  text-right'><span class='text-muted-dark'><strong><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></strong></span></div><!-- col -->
        </div>
      <% end %>
    </tbody>


    <% if !order.passed_checkout_step?("delivery")%>
    <div data-hook="shipping_total" class='row'>
      <div class='col-sm-6'><span class='text-muted'><%= Spree.t(:shipping) %></span></div><!-- col -->
      <div class='col-sm-6  text-right'><span class=''><strong><%= Spree.t(:free_shipping) %>!</strong></span></div><!-- col -->
    </div>
	<% end %>
    <% if order.passed_checkout_step?("delivery") && order.shipments.any? %>
      <div data-hook="shipping_total" class='row'>
        <div class='col-sm-6'><span class='text-muted'><%= Spree.t(:shipping) %></span></div><!-- col -->
        <div class='col-sm-6  text-right'><span class=''><strong><%= Spree::Money.new(order.shipments.to_a.sum(&:cost), currency: order.currency).to_html %></strong></span></div><!-- col -->
      </div>

      <% if order.shipment_adjustments.nonzero.exists? %>
        <div data-hook="order_details_shipment_promotion_adjustments">
          <% order.shipment_adjustments.nonzero.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
            <div class="total row">
              <div class='col-sm-6'><span class='text-muted'><%= label %></span></div><!-- col -->
              <div class='col-sm-6  text-right'><span class='text-muted-dark'><strong><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></strong></span></div><!-- col -->
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if order.adjustments.nonzero.eligible.exists? %>
      <div id="summary-order-charges" data-hook>
        <% order.adjustments.nonzero.eligible.each do |adjustment| %>
        <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
          <div class="total row">
            <div class='col-sm-6'><span class='text-muted'><%= adjustment.label %></span></div><!-- col -->
            <div class='col-sm-6  text-right'><span class='text-muted-dark'><strong><%= adjustment.display_amount.to_html %></strong></span></div><!-- col -->
          </div>
        <% end %>
      </div>
    <% end %>
<hr>
    <div data-hook="order_total" class='row'>
      <div class='col-sm-6'><span class='text-muted'><strong><%= Spree.t(:order_total) %></strong></span></div><!-- col -->
      <div class='col-sm-6  text-right'><span class='text-muted-dark'><span id='summary-order-total' class="lead text-success"><%= order.display_total.to_html %></span></span></div><!-- col -->
    </div>
  </div>
</div>
</div><!-- well -->