<%
#This is used later to change the thumbnail images for color selection
if @product.taxons.map(&:name).include?("Epic 38")
	rimdepth = 38
elsif @product.taxons.map(&:name).include?("Epic 38-50")
	rimdepth = 38
elsif @product.taxons.map(&:name).include?("Epic 50")
	rimdepth = 50	
elsif @product.taxons.map(&:name).include?("Epic 50-60")
	rimdepth = 50	
elsif @product.taxons.map(&:name).include?("Epic 60")
	rimdepth = 60
elsif @product.taxons.map(&:name).include?("Epic 60-88")
	rimdepth = 60	
elsif @product.taxons.map(&:name).include?("Epic 88")		
	rimdepth = 88
elsif @product.taxons.map(&:name).include?("Elite 38")
	rimdepth = 38
elsif @product.taxons.map(&:name).include?("Elite 38-50")
	rimdepth = 38	
elsif @product.taxons.map(&:name).include?("Elite 50")
	rimdepth = 50
elsif @product.taxons.map(&:name).include?("Elite 50-60")
	rimdepth = 50	
elsif @product.taxons.map(&:name).include?("Elite 60")
	rimdepth = 60
elsif @product.taxons.map(&:name).include?("Elite 60-88")
	rimdepth = 60	
elsif @product.taxons.map(&:name).include?("Elite 88")		
	rimdepth = 88
else
	rimdepth = 38
end %>


<% case value.presentation %>
<% when "Standard Road Bike Hubs + Standard Aero Spokes" %>

  <h3>Upgrade Your Hubs & Spokes</h3>
	          <div class="thumbnail upgrade-thumbnail"> 
	            <div class="row"> 
	             <div class="col-sm-2">
	         		<img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-road-hub-rear-side_small.jpg?15298" src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-road-hub-rear-side_small.jpg?15298" class="img-responsive" alt="...">
	             </div><!-- col-md-2 -->
	             <div class="caption col-sm-6 upgrade-caption">
	               <h4 class='upgrade-title'>Standard Hubs & Spokes</h4>
	               <strong><p><a data-toggle="modal" href="#road-hubs" >Standard Road Bike Hubs + Standard Aero Spokes</a></p></strong>
	               <span>+</span><span><%= money(0)%></span><a data-toggle="modal" href="#road-hubs"> <i class="icon-play-circle"></i> Learn More</a>
	         	  </div><!-- col-md-6 -->
	             <div class="col-sm-4">
	             	<%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") + content_tag(:span, " Standard"), "#", :title => value.presentation, :class => classes.join(" btn-block "), :rel => "#{type.id}-#{value.id}" %></li>
	             </div><!-- col-md-4 -->    
	           </div><!-- row -->
	         </div><!-- thumbnail -->
  
	     <!-- Modal -->
	     <div class="modal fade" id="road-hubs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	       <div class="modal-dialog">
	         <div class="modal-content">
	           <div class="modal-header">
	             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	             <h4 class="modal-title">Standard Road Bike Hubs + Standard Aero Spokes</h4>
	           </div>
	           <div class="modal-body">
	             <h2>Tokyowheel Vapor™ Road Bike Hubs + Standard Aero Spokes</h2>
	             <h4>Hub Specs</h4>
	   <div class="well">
	   <table class="table table-bordered table-condensed quick-specs">
	   <tbody>
	   <tr>
	   <td><strong>Total Weight</strong></td>
	   <td><strong class="text-success">315g</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Front Hub Weight</strong></td>
	   <td><strong>70g</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Rear Hub Weight</strong></td>
	   <td><strong>235g</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Front Spoke Holes</strong></td>
	   <td><strong>20</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Rear Spoke Holes</strong></td>
	   <td><strong>24</strong></td>
	   </tr>
	     <tr>
	   <td><strong>Front Spoke Lacing Pattern</strong></td>
	   <td><strong>Radial</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Rear Spoke Lacing Pattern</strong></td>
	   <td><strong>Drive Side: 2x Non-Drive Side: Radial</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Front Hub Width</strong></td>
	   <td><strong>100mm</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Rear Hub Width</strong></td>
	   <td><strong>130mm</strong></td>
	   </tr>  
	   <tr>
	   <td><strong>Bearings</strong></td>
	   <td><strong>Sealed Cartridge Bearings</strong></td>
	   </tr>
	     <tr>
	   <td><strong>Freehub Engagement</strong></td>
	   <td><strong>6 Pawls, 2 engagement groups</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Mounting</strong></td>
	   <td><strong>Titanium Quick Release Skewer</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Brand</strong></td>
	   <td><strong>Tokyowheel</strong></td>
	   </tr>
	     <tr>
	   <td><strong>Model</strong></td>
	   <td><strong>Vapor™</strong></td>
	   </tr>
	   <tr>

	   <td><strong>Colors</strong></td>
	   <td><strong>Black</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Included Accessories</strong></td>
	   <td><strong>Titanium Quick Release Skewer</strong></td>
	   </tr>
	   </tbody>
	   </table>
	   </div><!-- well -->
	             <h2>Standard Aero Spokes</h2>
	             <h4>Specs</h4>
	   <div class="well">
	   <table class="table table-bordered table-condensed quick-specs">
	   <tbody>
	   <tr>
	   <td><strong>Total Weight (44 Spokes + Nipples)</strong></td>
	   <td><strong class="text-success">300g</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Front Spoke Count</strong></td>
	   <td><strong>20</strong></td>
	   </tr>
	     <tr>
	   <td><strong>Rear Spoke Count</strong></td>
	   <td><strong>24</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Front Spoke Lacing Pattern</strong></td>
	   <td><strong>Radial</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Rear Spoke Lacing Pattern</strong></td>
	   <td><strong>Drive Side: 2x Non-Drive Side: Radial</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Spoke Width Width</strong></td>
	   <td><strong>3.2mm</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Spoke Shape</strong></td>
	   <td><strong>Flat Aero Blade</strong></td>
	   </tr>  
	   <tr>
	   <td><strong>Nipples</strong></td>
	   <td><strong>External, Alloy</strong></td>
	   </tr>
	   <tr>
	   <td><strong>Spoke Color</strong></td>
	     <td><strong>Black</strong></td>
	   </tr>
	     <tr>
	   <td><strong>Nipple Color</strong></td>
	     <td><strong>Black</strong></td>
	   </tr>
	   </tbody>
	   </table>
	   </div><!-- well -->
          
	           </div>
	           <div class="modal-footer">
	             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	           </div>
	         </div><!-- /.modal-content -->
	       </div><!-- /.modal-dialog -->
	     </div><!-- /.modal -->
		 
		 
<% when "Lighter Ceramic 4 Bearing Hubs + Sapim Cx-Ray Spokes & SILS Nipples" %>
       <div class="thumbnail upgrade-thumbnail">
         <div class="row"> 
          <div class="col-sm-2">
      		<img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/jpeg-3_small.jpeg?15312" src="http://cdn.shopify.com/s/files/1/0210/5956/files/jpeg-3_small.jpeg?15312" class="img-responsive" alt="...">
          </div><!-- col-md-2 -->
          <div class="caption col-sm-6 upgrade-caption">
            <h4 class='upgrade-title'>Lighter Ceramic Upgrade</h4>
            <strong><p><a data-toggle="modal" href="#ceramic-hubs" > Lighter Ceramic 4 Bearing Hubs + Sapim Cx-Ray Spokes & SILS Nipples</a></p></strong>
        	<span>+</span><span><%= money(269)%></span><a data-toggle="modal" href="#ceramic-hubs"> <i class="icon-play-circle"></i> Learn More</a>
            
      	  </div><!-- col-md-6 -->
          <div class="col-sm-4">
          	<%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") + content_tag(:span, " Add Upgrade"), "#", :title => value.presentation, :class => classes.join(" btn-block "), :rel => "#{type.id}-#{value.id}" %></li>
          </div><!-- col-md-4 -->    
        </div><!-- row -->
         
      </div><!-- thumbnail -->
  
  <!-- Modal -->
  <div class="modal fade" id="ceramic-hubs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Lighter Ceramic 4 Bearing Hubs + Sapim Cx-Ray Spokes & SILS Nipples</h4>
        </div>
        <div class="modal-body">
            <h2>Tokyowheel Vapor Ceramic™ Road Bike Hubs</h2>
          <h4>Hub Specs</h4>
<div class="well">
<table class="table table-bordered table-condensed quick-specs">
<tbody>
<tr>
<td><strong>Total Weight</strong></td>
<td><strong class="text-success">260g</strong></td>
</tr>
<tr>
<td><strong>Front Hub Weight</strong></td>
<td><strong>60g</strong></td>
</tr>
<tr>
<td><strong>Rear Hub Weight</strong></td>
<td><strong>200g</strong></td>
</tr>
<tr>
<td><strong>Front Spoke Holes</strong></td>
<td><strong>20</strong></td>
</tr>
<tr>
<td><strong>Rear Spoke Holes</strong></td>
<td><strong>24</strong></td>
</tr>
<tr>
<td><strong>Front Spoke Lacing Pattern</strong></td>
<td><strong>Radial</strong></td>
</tr>
<tr>
<td><strong>Rear Spoke Lacing Pattern</strong></td>
<td><strong>Drive Side: 2x Non-Drive Side: Radial</strong></td>
</tr>
<tr>
<td><strong>Front Hub Width</strong></td>
<td><strong>100mm</strong></td>
</tr>
<tr>
<td><strong>Rear Hub Width</strong></td>
<td><strong>130mm</strong></td>
</tr>  
<tr>
<td><strong>Bearings</strong></td>
<td><strong>4 USA Enduro Ceramic Bearings Per Hub</strong></td>
</tr>
<tr>
<td><strong>Freehub Engagement</strong></td>
<td><strong>6 Pawls, 2 engagement groups</strong></td>
</tr>
<tr>
<td><strong>Mounting</strong></td>
<td><strong>Titanium Quick Release Skewer</strong></td>
</tr>
<tr>
<td><strong>Brand</strong></td>
<td><strong>Tokyowheel</strong></td>
</tr>
  <tr>
<td><strong>Model</strong></td>
<td><strong>Vapor Ceramic™</strong></td>
</tr>
<tr>

<td><strong>Colors</strong></td>
<td><strong>Black</strong></td>
</tr>
<tr>
<td><strong>Included Accessories</strong></td>
<td><strong>Titanium Quick Release Skewer</strong></td>
</tr>
</tbody>
</table>
</div><!-- well -->
          <h2>Sapim Cx-Ray Spokes & SILS Nipples</h2>
          <h4>Specs</h4>
<div class="well">
<table class="table table-bordered table-condensed quick-specs">
<tbody>
<tr>
<td><strong>Total Weight (44 Spokes + Nipples)</strong></td>
<td><strong class="text-success">210g</strong></td>
</tr>
<tr>
<td><strong>Front Spoke Count</strong></td>
<td><strong>20</strong></td>
</tr>
  <tr>
<td><strong>Rear Spoke Count</strong></td>
<td><strong>24</strong></td>
</tr>
<tr>
<td><strong>Front Spoke Lacing Pattern</strong></td>
<td><strong>Radial</strong></td>
</tr>
<tr>
<td><strong>Rear Spoke Lacing Pattern</strong></td>
<td><strong>Drive Side: 2x Non-Drive Side: Radial</strong></td>
</tr>
<tr>
<td><strong>Spoke Width Width</strong></td>
<td><strong>2mm</strong></td>
</tr>
<tr>
<td><strong>Spoke Shape</strong></td>
<td><strong>Ovalized Aero Blade</strong></td>
</tr>  
<tr>
<td><strong>Nipples</strong></td>
<td><strong>SILS Polyax, External, Alloy</strong></td>
</tr>
<tr>
<td><strong>Spoke Color</strong></td>
  <td><strong>Black</strong></td>
</tr>
  <tr>
<td><strong>Nipple Color</strong></td>
  <td><strong>Black</strong></td>
</tr>
  <tr>
<td><strong>Brand</strong></td>
<td><strong>Sapim</strong></td>
</tr>
  <tr>
<td><strong>Model</strong></td>
<td><strong>CX-Ray</strong></td>
</tr>
</tbody>
</table>
</div><!-- well -->
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% when "DT Swiss 240s Straight Pull Hubs + Sapim Cx-Ray Straight Pull Spokes & SILS Nipples" %>
<div class="thumbnail upgrade-thumbnail">
         <div class="row">
          <div class="col-sm-2">
      		<img data-src="https://cdn.shopify.com/s/files/1/0210/5956/files/dt-swiss_2402-straight-pull-hubset_hero_small.png?28489" src="https://cdn.shopify.com/s/files/1/0210/5956/files/dt-swiss_2402-straight-pull-hubset_hero_small.png?28489" class="img-responsive" alt="...">
          </div><!-- col-md-2 -->
          <div class="caption col-sm-6 upgrade-caption">
            <h4 class='upgrade-title'>DT Swiss Upgrade</h4>
            <strong><p><a data-toggle="modal" href="#dtswiss240" > DT Swiss 240s Straight Pull Hubs + Sapim Cx-Ray Straight Pull Spokes & SILS Nipples</a></p></strong>
        	<span>+</span><span><%= money(479)%></span><a data-toggle="modal" href="#dtswiss240"> <i class="icon-play-circle"></i> Learn More</a>

           </div><!-- col-md-6 -->
          <div class="col-sm-4">
          <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " Add Upgrade"), "#", :title => value.presentation, :class => classes.join(" btn-block "), :rel => "#{type.id}-#{value.id}" %></li>

          </div><!-- col-md-4 -->    
        </div><!-- row -->
  
  
  </div><!-- thumbnail -->
 
  <!-- Modal -->
  <div class="modal fade" id="dtswiss240" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">DT Swiss 240s Straight Pull Hubs + Sapim Cx-Ray Straight Pull Spokes & SILS Nipples</h4>
        </div>
        <div class="modal-body">
            <h2>DT Swiss 240s Straight Pull Road Bike Hubs</h2>
          <h4>Hub Specs</h4>
<div class="well">
<table class="table table-bordered table-condensed quick-specs">
<tbody>
<tr>
<td><strong>Total Weight</strong></td>
<td><strong class="text-success">319g</strong></td>
</tr>
<tr>
<td><strong>Front Hub Weight</strong></td>
<td><strong>107g</strong></td>
</tr>
<tr>
<td><strong>Rear Hub Weight</strong></td>
<td><strong>212g</strong></td>
</tr>
<tr>
<td><strong>Front Spoke Holes</strong></td>
<td><strong>20</strong></td>
</tr>
<tr>
<td><strong>Rear Spoke Holes</strong></td>
<td><strong>24</strong></td>
</tr>
<tr>
<td><strong>Front Spoke Lacing Pattern</strong></td>
<td><strong>Radial</strong></td>
</tr>
<tr>
<td><strong>Rear Spoke Lacing Pattern</strong></td>
<td><strong>Drive Side: 2x Non-Drive Side: Radial</strong></td>
</tr>
<tr>
<td><strong>Front Hub Width</strong></td>
<td><strong>100mm</strong></td>
</tr>
<tr>
<td><strong>Rear Hub Width</strong></td>
<td><strong>130mm</strong></td>
</tr>  
<tr>
<td><strong>Bearings</strong></td>
<td><strong>Sealed Cartridge Bearings</strong></td>
</tr>
<tr>
<td><strong>Freehub Engagement</strong></td>
<td><strong>18 Point Star Ratchet</strong></td>
</tr>
<tr>
<td><strong>Mounting</strong></td>
<td><strong>Titanium Quick Release Skewer</strong></td>
</tr>
<tr>
<td><strong>Brand</strong></td>
<td><strong>DT Swiss</strong></td>
</tr>
  <tr>
<td><strong>Model</strong></td>
<td><strong>240s Straight Pull</strong></td>
</tr>

<tr>
<td><strong>Colors</strong></td>
  <td><strong>Black/Red</strong></td>
</tr>
<tr>
<td><strong>Included Accessories</strong></td>
<td><strong>Titanium Quick Release Skewer</strong></td>
</tr>
</tbody>
</table>
</div><!-- well -->
            <h2>Sapim Cx-Ray Straight Pull Spokes & SILS Nipples</h2>
          <h4>Specs</h4>
<div class="well">
<table class="table table-bordered table-condensed quick-specs">
<tbody>
<tr>
<td><strong>Total Weight (44 Spokes + Nipples)</strong></td>
<td><strong class="text-success">210g</strong></td>
</tr>
<tr>
<td><strong>Front Spoke Count</strong></td>
<td><strong>20</strong></td>
</tr>
  <tr>
<td><strong>Rear Spoke Count</strong></td>
<td><strong>24</strong></td>
</tr>
<tr>
<td><strong>Front Spoke Lacing Pattern</strong></td>
<td><strong>Radial</strong></td>
</tr>
<tr>
<td><strong>Rear Spoke Lacing Pattern</strong></td>
<td><strong>Drive Side: 2x Non-Drive Side: Radial</strong></td>
</tr>
<tr>
<td><strong>Spoke Width Width</strong></td>
<td><strong>2mm</strong></td>
</tr>
<tr>
<td><strong>Spoke Shape</strong></td>
<td><strong>Ovalized Aero Blade</strong></td>
</tr>  
<tr>
<td><strong>Nipples</strong></td>
<td><strong>SILS Polyax, External, Alloy</strong></td>
</tr>
<tr>
<td><strong>Spoke Color</strong></td>
  <td><strong>Black</strong></td>
</tr>
  <tr>
<td><strong>Nipple Color</strong></td>
  <td><strong>Black</strong></td>
</tr>
  <tr>
<td><strong>Brand</strong></td>
<td><strong>Sapim</strong></td>
</tr>
  <tr>
<td><strong>Model</strong></td>
<td><strong>CX-Ray Straight Pull</strong></td>
</tr>
</tbody>
</table>
</div><!-- well -->
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% when "Disc Brake Road Bike Hubs + Sapim Cx-Ray Spokes & SILS Nipples" %>
         <div class="thumbnail upgrade-thumbnail">
           <div class="row">
            <div class="col-sm-2">
        		<img data-src="https://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel_vapor_disc_hub_rear_small.jpeg?29443" src="https://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel_vapor_disc_hub_rear_small.jpeg?29443" class="img-responsive" alt="Tokyowheel Vapor Disc Hub">
            </div><!-- col-md-2 -->
            <div class="caption col-sm-6 upgrade-caption">
              <h4 class='upgrade-title'>Disc Brake Upgrade</h4>
              <strong><p><a data-toggle="modal" href="#disc" > Disc Brake Road Bike Hubs + Sapim Cx-Ray Spokes & SILS Nipples</a></p></strong>
          	<span>+</span><span><%= money(269)%></span><a data-toggle="modal" href="#disc"> <i class="icon-play-circle"></i> Learn More</a>

             </div><!-- col-md-6 -->
            <div class="col-sm-4">
            	<%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") + content_tag(:span, " Add Upgrade"), "#", :title => value.presentation, :class => classes.join(" btn-block "), :rel => "#{type.id}-#{value.id}" %></li>

            </div><!-- col-md-4 -->    
          </div><!-- row -->
    </div><!-- thumbnail -->
 
    <!-- Modal -->
    <div class="modal fade" id="disc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Disc Brake Upgrade</h4>
          </div>
          <div class="modal-body">
              <h2>Disc Brake Road Bike Hubs + Sapim Cx-Ray Spokes & SILS Nipples</h2>
            <h4>Hub Specs</h4>
  <div class="well">
  <table class="table table-bordered table-condensed quick-specs">
  <tbody>
  <tr>
  <td><strong>Total Weight</strong></td>
  <td><strong class="text-success">355g</strong></td>
  </tr>
  <tr>
  <td><strong>Front Hub Weight</strong></td>
  <td><strong>125g</strong></td>
  </tr>
  <tr>
  <td><strong>Rear Hub Weight</strong></td>
  <td><strong>230g</strong></td>
  </tr>
  <tr>
  <td><strong>Front Spoke Holes</strong></td>
  <td><strong>24</strong></td>
  </tr>
  <tr>
  <td><strong>Rear Spoke Holes</strong></td>
  <td><strong>24</strong></td>
  </tr>
  <tr>
  <td><strong>Front Spoke Lacing Pattern</strong></td>
  <td><strong>2x</strong></td>
  </tr>
  <tr>
  <td><strong>Rear Spoke Lacing Pattern</strong></td>
  <td><strong>2x</strong></td>
  </tr>
  <tr>
  <td><strong>Front Hub Width</strong></td>
  <td><strong>100mm</strong></td>
  </tr>
  <tr>
  <td><strong>Rear Hub Width</strong></td>
  <td><strong>135mm</strong></td>
  </tr>  
  <tr>
  <td><strong>Bearings</strong></td>
  <td><strong>Sealed Cartridge Bearings</strong></td>
  </tr>
  <tr>
  <td><strong>Freehub Engagement</strong></td>
  <td><strong>3 Pawl Ratchet</strong></td>
  </tr>
  <tr>
  <td><strong>Mounting</strong></td>
  <td><strong>Extra Strength Alloy Quick Release Skewer</strong></td>
  </tr>
  <tr>
  <td><strong>Brand</strong></td>
  <td><strong>Tokyowheel</strong></td>
  </tr>
    <tr>
  <td><strong>Model</strong></td>
  <td><strong>Vapor Disc</strong></td>
  </tr>

  <tr>
  <td><strong>Colors</strong></td>
    <td><strong>Black</strong></td>
  </tr>
  <tr>
  <td><strong>Included Accessories</strong></td>
  <td><strong>Extra Strength Alloy Quick Release Skewer</strong></td>
  </tr>
  </tbody>
  </table>
  </div><!-- well -->
              <h2>Sapim Cx-Ray Straight Pull Spokes & SILS Nipples</h2>
            <h4>Specs</h4>
  <div class="well">
  <table class="table table-bordered table-condensed quick-specs">
  <tbody>
  <tr>
  <td><strong>Total Weight (48 Spokes + Nipples)</strong></td>
  <td><strong class="text-success">230g</strong></td>
  </tr>
  <tr>
  <td><strong>Front Spoke Count</strong></td>
  <td><strong>24</strong></td>
  </tr>
    <tr>
  <td><strong>Rear Spoke Count</strong></td>
  <td><strong>24</strong></td>
  </tr>
  <tr>
  <td><strong>Front Spoke Lacing Pattern</strong></td>
  <td><strong>2x</strong></td>
  </tr>
  <tr>
  <td><strong>Rear Spoke Lacing Pattern</strong></td>
  <td><strong>2x</strong></td>
  </tr>
  <tr>
  <td><strong>Spoke Width Width</strong></td>
  <td><strong>2mm</strong></td>
  </tr>
  <tr>
  <td><strong>Spoke Shape</strong></td>
  <td><strong>Ovalized Aero Blade</strong></td>
  </tr>  
  <tr>
  <td><strong>Nipples</strong></td>
  <td><strong>SILS Polyax, External, Alloy</strong></td>
  </tr>
  <tr>
  <td><strong>Spoke Color</strong></td>
    <td><strong>Black</strong></td>
  </tr>
    <tr>
  <td><strong>Nipple Color</strong></td>
    <td><strong>Black</strong></td>
  </tr>
    <tr>
  <td><strong>Brand</strong></td>
  <td><strong>Sapim</strong></td>
  </tr>
    <tr>
  <td><strong>Model</strong></td>
  <td><strong>CX-Ray J-Bend</strong></td>
  </tr>
  </tbody>
  </table>
  </div><!-- well -->
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
<% when "Shimano/SRAM 8/9/10/11 Speed" %>
    <h3>Select Your Cassette Compatibility</h3>
  <div class="text-center">
	  <div class="btn-group btn-group-justified">
  <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") + content_tag(:span, " " + value.presentation), "#", :title => value.presentation, :class => classes.join(" "), :style => "white-space:normal", :rel => "#{type.id}-#{value.id}" %>
  
  
  
<% when "Campagnolo 9/10/11 Speed" %>	
	   <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") + content_tag(:span, " " + value.presentation), "#", :title => value.presentation, :class => classes.join(" "), :style => "white-space:normal", :rel => "#{type.id}-#{value.id}" %>
	</div><!-- btn-group -->
	  </div><!-- text-center -->

<% when "Black EPIC Decals" %>
<div class="row">
<div class="col-md-12">
    <h3>Choose Your Color</h3>
</div><!-- col-md-12 -->
<div id='color-options'>
<div class="col-xs-6 col-sm-3">
    <div class="thumbnail color-selector">
      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-black_large.jpg?18979' title="Black Color Option"><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-black_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-black_compact.jpg?18979" alt="Tokyowheel Epic Black" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
      <div class="caption">
        <div><Strong>Black</Strong></div>
        <span class='text-muted'>+ <%= money(0)%></span>
       <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
      </div>
    </div><!-- thumbnail -->
    </div><!-- col-xs-6 col-sm-3 -->
<% when "White EPIC Decals" %>
    <div class="col-xs-6 col-sm-3">
  <div class="thumbnail color-selector">
      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-white_large.jpg?18979' title="White Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-white_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-white_compact.jpg?18979" alt="Tokyowheel Epic White" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
      <div class="caption">
        <div><Strong>White</Strong></div>
        <span class='text-muted'>+ <%= money(0)%></span>
       <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
      </div>
    </div><!-- thumbnail -->
       </div><!-- col-xs-6 col-sm-3 -->
<% when "Gold Mirror EPIC Decals" %>
<div class="col-xs-6 col-sm-3">
    <div class="thumbnail color-selector">
      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-gold_large.jpg?18979' title="Gold Mirror Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-gold_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-gold_compact.jpg?18979" alt="Tokyowheel Epic Gold Mirror" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
      <div class="caption">
        <div><Strong>Gold Mirror</Strong></div>
        <span class='text-muted'>+ <%= money(0)%></span>
       <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
      </div>
    </div><!-- thumbnail -->
    </div><!-- col-xs-6 col-sm-3 -->

<% when "Silver Mirror EPIC Decals" %>
  <div class="col-xs-6 col-sm-3">
    <div class="thumbnail color-selector">
      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-silver_large.jpg?18979' title="Silver Mirror Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-silver_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-silver_compact.jpg?18979" alt="Tokyowheel Epic Silver Mirror" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
      <div class="caption">
        <div><Strong>Silver Mirror</Strong></div>
        <span class='text-muted'>+ <%= money(0)%></span>
       <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
      </div>
    </div><!-- thumbnail -->
    </div><!-- col-xs-6 col-sm-3 -->

<% when "Red EPIC Decals" %>
   <div class="col-xs-6 col-sm-3">
    <div class="thumbnail color-selector">
      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-red_large.jpg?18979' title="Red Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-red_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-red_compact.jpg?18979" alt="Tokyowheel Epic Red" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
      <div class="caption">
        <div><Strong>Red</Strong></div>
        <span class='text-muted'>+ <%= money(0)%></span>
       <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
      </div>
    </div><!-- thumbnail -->
    </div><!-- col-xs-6 col-sm-3 -->

<% when "Blue EPIC Decals" %>
   <div class="col-xs-6 col-sm-3">
    <div class="thumbnail color-selector">
      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-blue_large.jpg?18979' title="Blue Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-blue_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-blue_compact.jpg?18979" alt="Tokyowheel Epic Blue" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
      <div class="caption">
        <div><Strong>Blue</Strong></div>
       <span class='text-muted'>+ <%= money(0)%></span>
      <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
      </div>
    </div><!-- thumbnail -->
    </div><!-- col-xs-6 col-sm-3 -->

<% when "Green EPIC Decals" %>
      <div class="col-xs-6 col-sm-3">
    <div class="thumbnail color-selector">
      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-green_large.jpg?18979' title="Green Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-green_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-green_compact.jpg?18979" alt="Tokyowheel Epic Green" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
      <div class="caption">
        <div><Strong>Green</Strong></div>
         <span class='text-muted'>+ <%= money(0)%></span>
        <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
      </div>
    </div><!-- thumbnail -->
    </div><!-- col-xs-6 col-sm-3 -->
	
<% when "Orange EPIC Decals" %>
       <div class="col-xs-6 col-sm-3">
    <div class="thumbnail color-selector">
      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-orange_large.jpg?18979' title="Orange Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-orange_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-orange_compact.jpg?18979" alt="Tokyowheel Epic Orange" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
      <div class="caption">
        <div><Strong>Orange</Strong></div>
         <span class='text-muted'>+ <%= money(0)%></span>
        <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
      </div>
    </div><!-- thumbnail -->
    </div><!-- col-xs-6 col-sm-3 -->

<% when "Yellow EPIC Decals" %>
      <div class="col-xs-6 col-sm-3">
    <div class="thumbnail color-selector">
      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-yellow_large.jpg?18979' title="Yellow Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-yellow_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-yellow_compact.jpg?18979" alt="Tokyowheel Epic Yellow" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
      <div class="caption">
        <div><Strong>Yellow</Strong></div>
         <span class='text-muted'>+ <%= money(0)%></span>
        <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
      </div>
    </div><!-- thumbnail -->
    </div><!-- col-xs-6 col-sm-3 -->

<% when "Pink EPIC Decals" %>
   <div class="col-xs-6 col-sm-3">
    <div class="thumbnail color-selector">
      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-pink_large.jpg?18932' title="Pink Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-pink_compact.jpg?18932" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-pink_compact.jpg?18932" alt="Tokyowheel Epic Pink" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
      <div class="caption">
        <div><Strong>Pink</Strong></div>
         <span class='text-muted'>+ <%= money(0)%></span>
        <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
      </div>
    </div><!-- thumbnail -->
    </div><!-- col-xs-6 col-sm-3 -->

<% when "Purple EPIC Decals" %>
     <div class="col-xs-6 col-sm-3">
    <div class="thumbnail color-selector">
      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-purple_large.jpg?18979' title="Purple Color Option"><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-purple_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-purple_compact.jpg?18979" alt="Tokyowheel Epic Purple" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
      <div class="caption">
        <div><Strong>Purple</Strong></div>
         <span class='text-muted'>+ <%= money(0)%></span>
        <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
      </div>
    </div><!-- thumbnail -->
    </div><!-- col-xs-6 col-sm-3 -->
	
	
	<% when "Black ELITE Decals" %>
	<div class="row">
	<div class="col-md-12">
	    <h3>Choose Your Color</h3>
	</div><!-- col-md-12 -->
	<div id='color-options'>
	<div class="col-xs-6 col-sm-3">
	    <div class="thumbnail color-selector">
	      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-black_large.jpg?18979' title="Black Color Option"><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-black_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-black_compact.jpg?18979" alt="Tokyowheel Elite Black" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
	      <div class="caption">
	        <div><Strong>Black</Strong></div>
	        <span class='text-muted'>+ <%= money(0)%></span>
	       <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
	      </div>
	    </div><!-- thumbnail -->
	    </div><!-- col-xs-6 col-sm-3 -->
	<% when "White ELITE Decals" %>
	    <div class="col-xs-6 col-sm-3">
	  <div class="thumbnail color-selector">
	      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-white_large.jpg?18979' title="White Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-white_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-white_compact.jpg?18979" alt="Tokyowheel Elite White" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
	      <div class="caption">
	        <div><Strong>White</Strong></div>
	        <span class='text-muted'>+ <%= money(0)%></span>
	       <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
	      </div>
	    </div><!-- thumbnail -->
	       </div><!-- col-xs-6 col-sm-3 -->
	<% when "Gold Mirror ELITE Decals" %>
	<div class="col-xs-6 col-sm-3">
	    <div class="thumbnail color-selector">
	      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-gold_large.jpg?18979' title="Gold Mirror Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-gold_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-gold_compact.jpg?18979" alt="Tokyowheel Elite Gold Mirror" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
	      <div class="caption">
	        <div><Strong>Gold Mirror</Strong></div>
	        <span class='text-muted'>+ <%= money(0)%></span>
	       <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
	      </div>
	    </div><!-- thumbnail -->
	    </div><!-- col-xs-6 col-sm-3 -->

	<% when "Silver Mirror ELITE Decals" %>
	  <div class="col-xs-6 col-sm-3">
	    <div class="thumbnail color-selector">
	      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-silver_large.jpg?18979' title="Silver Mirror Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-silver_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-silver_compact.jpg?18979" alt="Tokyowheel Elite Silver Mirror" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
	      <div class="caption">
	        <div><Strong>Silver Mirror</Strong></div>
	        <span class='text-muted'>+ <%= money(0)%></span>
	       <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
	      </div>
	    </div><!-- thumbnail -->
	    </div><!-- col-xs-6 col-sm-3 -->

	<% when "Red ELITE Decals" %>
	   <div class="col-xs-6 col-sm-3">
	    <div class="thumbnail color-selector">
	      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-red_large.jpg?18979' title="Red Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-red_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-red_compact.jpg?18979" alt="Tokyowheel Elite Red" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
	      <div class="caption">
	        <div><Strong>Red</Strong></div>
	        <span class='text-muted'>+ <%= money(0)%></span>
	       <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
	      </div>
	    </div><!-- thumbnail -->
	    </div><!-- col-xs-6 col-sm-3 -->

	<% when "Blue ELITE Decals" %>
	   <div class="col-xs-6 col-sm-3">
	    <div class="thumbnail color-selector">
	      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-blue_large.jpg?18979' title="Blue Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-blue_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-blue_compact.jpg?18979" alt="Tokyowheel Elite Blue" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
	      <div class="caption">
	        <div><Strong>Blue</Strong></div>
	       <span class='text-muted'>+ <%= money(0)%></span>
	      <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
	      </div>
	    </div><!-- thumbnail -->
	    </div><!-- col-xs-6 col-sm-3 -->

	<% when "Green ELITE Decals" %>
	      <div class="col-xs-6 col-sm-3">
	    <div class="thumbnail color-selector">
	      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-green_large.jpg?18979' title="Green Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-green_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-green_compact.jpg?18979" alt="Tokyowheel Elite Green" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
	      <div class="caption">
	        <div><Strong>Green</Strong></div>
	         <span class='text-muted'>+ <%= money(0)%></span>
	        <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
	      </div>
	    </div><!-- thumbnail -->
	    </div><!-- col-xs-6 col-sm-3 -->
	
	<% when "Orange ELITE Decals" %>
	       <div class="col-xs-6 col-sm-3">
	    <div class="thumbnail color-selector">
	      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-orange_large.jpg?18979' title="Orange Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-orange_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-orange_compact.jpg?18979" alt="Tokyowheel Elite Orange" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
	      <div class="caption">
	        <div><Strong>Orange</Strong></div>
	         <span class='text-muted'>+ <%= money(0)%></span>
	        <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
	      </div>
	    </div><!-- thumbnail -->
	    </div><!-- col-xs-6 col-sm-3 -->

	<% when "Yellow ELITE Decals" %>
	      <div class="col-xs-6 col-sm-3">
	    <div class="thumbnail color-selector">
	      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-yellow_large.jpg?18979' title="Yellow Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-yellow_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-yellow_compact.jpg?18979" alt="Tokyowheel Elite Yellow" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
	      <div class="caption">
	        <div><Strong>Yellow</Strong></div>
	         <span class='text-muted'>+ <%= money(0)%></span>
	        <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
	      </div>
	    </div><!-- thumbnail -->
	    </div><!-- col-xs-6 col-sm-3 -->

	<% when "Pink ELITE Decals" %>
	   <div class="col-xs-6 col-sm-3">
	    <div class="thumbnail color-selector">
	      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-pink_large.jpg?18932' title="Pink Color Option" ><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-pink_compact.jpg?18932" src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-pink_compact.jpg?18932" alt="Tokyowheel Elite Pink" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
	      <div class="caption">
	        <div><Strong>Pink</Strong></div>
	         <span class='text-muted'>+ <%= money(0)%></span>
	        <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
	      </div>
	    </div><!-- thumbnail -->
	    </div><!-- col-xs-6 col-sm-3 -->

	<% when "Purple ELITE Decals" %>
	     <div class="col-xs-6 col-sm-3">
	    <div class="thumbnail color-selector">
	      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-purple_large.jpg?18979' title="Purple Color Option"><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-purple_compact.jpg?18979" src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-<%= rimdepth %>-front-purple_compact.jpg?18979" alt="Tokyowheel Elite Purple" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
	      <div class="caption">
	        <div><Strong>Purple</Strong></div>
	         <span class='text-muted'>+ <%= money(0)%></span>
	        <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") +content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
	      </div>
	    </div><!-- thumbnail -->
	    </div><!-- col-xs-6 col-sm-3 -->
	

<% when "No-Logo" %>
    <div class="col-xs-6 col-sm-3">
    <div class="thumbnail color-selector">
      <a href="#myModal" data-toggle="modal" data-img-url='http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-no-logo_large.jpg?19038' title="No-Logo Carbon Color Option"><img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-no-logo_compact.jpg?19038" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-<%= rimdepth %>-front-no-logo_compact.jpg?19038" alt="Tokyowheel Epic No-Logo Carbon" class="img-responsive"><i class="fa fa-search-plus"></i> <small>Zoom</small></a>
      <div class="caption">
        <div><Strong>No-Logo</Strong></div>
         <span class='text-muted'>+ <%= money(0)%></span>
        <%= link_to  content_tag(:i, "", :class => "fa fa-check text-yellow") + content_tag(:span, " "+ t(:select)), "#", :title => value.presentation, :class => classes.join(" ")+" btn-block", :rel => "#{type.id}-#{value.id}" %>
      </div>
    </div><!-- thumbnail -->
    </div><!-- col-xs-6 col-sm-3 -->
</div><!-- color-options -->
	</div><!-- custom-selector -->
<% else %>
<%= link_to  content_tag(:span, value.presentation), "#", :title => value.presentation, :class => classes.join(" "), :rel => "#{type.id}-#{value.id}" %>
<% end %>

