<% @body_id = 'signup' %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <div class="panel panel-default registration-panel">
      <!-- <%= Spree.t(:new_customer) %> -->
      <div id="new-customer" class="panel-body" data-hook="login">
          <%= form_for resource, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
            <div data-hook="signup_inside_form">
              <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
              <%= f.submit Spree.t(:create), :class => 'btn btn-lg btn-success btn-block' %>
            </div><!-- signup_inside_form -->
          <% end %>
          
          <div data-hook="login_extras"></div><!-- login_extras -->
      </div><!-- new-customer -->
	  <div class="panel-footer">
          <div class="text-center">
            <%# Spree.t(:or) %> 
              <%= link_to Spree.t(:login_as_existing), spree.login_path %>
          </div><!-- text-center -->
	  </div><!-- panel-footer -->
  </div><!-- panel -->
</div><!-- col -->

