
<div id="spree-header">

  <header id="header" data-hook>
<%= render :partial => 'spree/shared/shipping_bar' %>
<%= render :partial => 'spree/shared/header_bar' %>
<div class="well well-sm no-margin support-bar-well visible-xs">

                <div class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><center><strong><i class="fa fa-phone"></i> 24/7 </strong>1-855-534-5070  <span class="caret"></span></center></a>
            				<ul class="dropdown-menu">
<%= render :partial => 'spree/shared/phone_number_li' %>
            				</ul>
      			</div>
</div><!-- support-bar-well -->
						
						
<div role="navigation" class="navbar navbar-default no-margin sm-navbar navbar-square hidden-xs" id='sub-nav'>        
              <div class="container">
                <div class='row'>
                  <div class="navbar-top-collapse navbar-collapse collapse">
                     <ul class="nav navbar-nav navbar-left top">
						                        <li class="dropdown">
						                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><small><strong><i class="fa fa-phone"></i> 24/7 </strong><span>1-855-534-5070</span>  <span class="caret"></span></small></a>
						            				<ul class="dropdown-menu">
						<%= render :partial => 'spree/shared/phone_number_li' %>
						            				</ul>
						      					</li>
												
                    </ul>
                      <ul class="nav navbar-nav navbar-right top">
						  <!-- begin user identifier -->
					   <% if try_spree_current_user.try(:has_spree_role?, "admin") %>
					   <li class=""><span>You are an ADMIN</span></li>
					   <% elsif try_spree_current_user.try(:has_spree_role?, "dealer") %>
					   <li class=""><span>You are a DEALER</span></li>
					   <% elsif try_spree_current_user.try(:has_spree_role?,"ambassador") %>
					   <li class=""><span>You are an AMBASSADOR</span></li>
					   <% elsif try_spree_current_user.try(:has_spree_role?, "blogger") %>
					   <li class=""><span>You are an ATHLETE</span></li>
					   <% elsif try_spree_current_user.try(:has_spree_role?, "user") %>
					    <li class=""><span>You are a USER</span></li>
					   <% end %>
					   <!-- end user identifier -->
					   
					   
                        <li class=""><a href="/pages/contact" class="">Contact</a></li>
                        <li class=""><a href="/account#orders" class="">Track Order</a></li>
						
						
                        
     <% if spree_current_user %>
	 	<li><%= link_to Spree.t(:my_account), spree.account_path %></li>
	 	<li><%= link_to Spree.t(:logout), spree.logout_path %></li>
     <% else %>
	 	<li><%= link_to Spree.t(:login), spree.login_path %></li>
	 	<li><%= link_to Spree.t(:signup), spree_signup_path %></li>
  	 <% end %>
      
      
      <li>
        <%= render :partial => 'spree/shared/currency_selector' %>
      </li> 
	  <li>
	    <%= render :partial => 'spree/shared/locale_selector' %>
	  </li> 
                        
        </ul>
                  </div><!--/.nav-collapse -->
                </div><!-- row -->
              </div>  <!-- container -->
</div><!-- navbar static top -->

          <div role="navigation" class="navbar-main navbar-default navbar-static-top" id='main-nav'>
              <div class="container">
                  <div class="navbar-header hidden-sm">
                    <a class="navbar-brand slim hidden-xs" href="/"><img src="http://cdn.tokyowheel.com/logo-file.png" alt="Tokyowheel™"></a>
                    <a class="navbar-brand visible-xs" href="/"><img src="http://cdn.tokyowheel.com/logo-file.png" alt="Tokyowheel™"></a>  
                   
                    <% if false %>
				        <% unless current_page?(spree.cart_path) %>
				              <li >
				  				<div id="link-to-cart" data-hook>
				   	          <noscript>
				   	            <%= link_to Spree.t(:cart), '/cart' %>
				   	          </noscript>
				  		  </div>
				    	        </li>
				  	  <% end %>
					<% end %>
                    
                    
                    
                    
                    
                    <button type="button" class="navbar-toggle pull-right " data-toggle="collapse" data-target=".navbar-ex1-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div><!-- navbar header -->
                
                
                <div class="navbar-header col-sm-12 visible-sm">
                    
                    <a class="navbar-brand col-sm-12 text-center" href="/"><img src="http://cdn.tokyowheel.com/logo-file.png" alt="Tokyowheel™"></a>
                    
                  </div><!-- navbar header -->
                
                
                  
                   <div class="collapse navbar-collapse navbar-ex1-collapse ">
   
                     
                     <ul class="nav navbar-nav">
      <li class="">
        <div>
  <a class='btn btn-primary navbar-btn' href="/pages/wheels" title="Wheels">
    Shop Wheels
  </a>
        </div>
</li>
<li class="">
  <a href="/pages/reviews" title="Reviews">
    Reviews
  </a>
</li>
<li class="">
  <a href="/pages/photos" title="Photos">
    Photos
  </a>
</li>
<li class="">
  <a href="/pages/information" title="Warranty & FAQ">
    Warranty & FAQ
  </a>
</li>
<li class="">
  <a href="/pages/information#shipping-delivery" title="Shipping & Customs Tax">
    Shipping
  </a>
</li>
<li class="">
  <a href="/pages/about" title="About Us">
    About
  </a>
</li>
                       
<% if false %><li class=" dropdown">
  <a href="#" title="About" class="dropdown-toggle" data-toggle="dropdown">
    Learn More
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="">
  <a href="/pages/reviews" title="Reviews">
    Reviews
  </a>
</li>
<li class="">
  <a href="/pages/photos" title="Photos">
    Photos
  </a>
</li>
<li class="">
  <a href="/pages/information" title="Warranty & FAQ">
    Warranty & FAQ
  </a>
</li>
<li class="">
  <a href="/pages/information#shipping-delivery" title="Shipping & Customs Tax">
    Shipping & Customs Tax
  </a>
</li>
<li class="">
  <a href="/pages/about" title="About Us">
    About Us
  </a>
</li>
<li class="">
  <a href="/pages/dealers" title="Find a Dealer">
    Find a Dealer
  </a>
</li>
<li class="">
  <a href="http://www.tokyowheel.com/pages/terms-conditions#terms" title="Terms & Conditions">
    Terms & Conditions
  </a>
</li>
<li class="">
  <a href="http://www.tokyowheel.com/pages/terms-conditions#privacy" title="Privacy Policy">
    Privacy Policy
  </a>
</li>
  </ul><% end %>
</li>
<li class="">
  <a href="/blogs/a" title="Blog">
    Blog
  </a>
</li>
     <li class="">
  <a class=''href="http://forum.tokyowheel.com" title="Forum">
    Forum
  </a>
</li>
<% if false %> <li class="">
  <a href="/pages/contact" title="Contact">
    FAQ
  </a>
</li> 
                       <li>
  <a href="/pages/share">Earn Money</a>
      </li><% end %>
    
                        <li class="visible-xs"><a href="/account" class="">Track Order</a></li>
  
     <% if spree_current_user %>
	 	<li class="visible-xs"><%= link_to Spree.t(:my_account), spree.account_path %></li>
	 	<li class="visible-xs"><%= link_to Spree.t(:logout), spree.logout_path %></li>
     <% else %>
	 	<li class="visible-xs"><%= link_to Spree.t(:login), spree.login_path %></li>
	 	<li class="visible-xs"><%= link_to Spree.t(:signup), spree_signup_path %></li>
  	 <% end %>
                        
    </ul>
    <ul class="nav navbar-nav navbar-right">
     
      <% unless current_page?(spree.cart_path) %>
            <li >
				<div id="link-to-cart" data-hook>
 	          <noscript>
 	            <%= link_to Spree.t(:cart), '/cart' %>
 	          </noscript>
 	        <script>Spree.fetch_cart()</script>
		  </div>
  	        </li>
	  <% end %>
      <% if false %> <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="http://cdn.tokyowheel.com/en-flag.png" alt="English" class=""> <span class="caret"></span>
            </a>
          <ul class="dropdown-menu">
              <li><a href="http://www.tokyowheel.com"><img src="http://cdn.tokyowheel.com/en-flag.png" alt="English" class=""> English</a></li>
				<li><a href="http://www.tokyowheel.jp"><img src="http://cdn.tokyowheel.com/jp-flag.png" alt="日本語" class=""> 日本語</a></li>
            </ul>
      </li><% end %>
      
    </ul> 
    
  </div><!-- /.navbar-collapse --> 
	</div><!-- navigation -->
            </div>          
<% if false %>
          <div role="navigation" class="navbar navbar-default no-margin sm-navbar navbar-square hidden-xs" id='sub-nav'>
            <div class='container'>
            <div class='row'>
             <div class='col-md-10 col-md-offset-1'>
                <form>
                  <div class="input-group search-form">
                   
  					<input type="text" class="form-control" placeholder='Search or Ask a Question?' id="st-search-input" class="st-search-input" />

                  <span class="input-group-btn">
              	<button class="btn btn-default" type="submit">
              <span class="fa fa-search fa-lg"></span>
                  </button>
             </span>
                  
             </div><!-- /input-group -->
              </form>
               
             </div><!-- col -->
            </div><!-- row -->
              </div><!-- container -->
</div><!-- navigation -->
<% end %>

<!-- end new navigation -->
						
  </div><!-- spree-header -->
</div><!-- header -->

