
<div id="spree-header">

  <header id="header" data-hook>
<%= render :partial => 'spree/shared/shipping_bar' %>
<%= render :partial => 'spree/shared/header_bar' %>
<div role="navigation" class="navbar navbar-default no-margin sm-navbar navbar-square hidden-xs" id='sub-nav'>        
              <div class="container">
                <div class='row'>
                  <div class="navbar-top-collapse navbar-collapse collapse">
                     <ul class="nav navbar-nav navbar-left top">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><small><i class="fa fa-phone"></i> Call Us 1-877-549-2069 <span class="caret"></span></small></a>
            				<ul class="dropdown-menu">
<li><a href="tel:+810345895010"><strong><img src="http://cdn.tokyowheel.com/jp.gif" alt="Japan" class=""> Tokyo, Japan  </strong> +81 03 4589 5010</a></li>
<li><a href="tel:+18775492069"><strong><img src="http://cdn.tokyowheel.com/us.gif" alt="USA" class=""> United States <small class='text-muted'>(Toll Free)</small>  </strong> +1 (877) 549-2069</a></li>
<li><a href="tel:+18775492069"><strong><img src="http://cdn.tokyowheel.com/ca.gif" alt="Canada" class=""> Canada <small class='text-muted'>(Toll Free)</small>  </strong> +1 (877) 549-2069</a></li>
<li><a href="tel:+61388997533"><strong><img src="http://cdn.tokyowheel.com/au.gif" alt="Australia" class=""> Australia  </strong> +61 3 8899 7533</a></li>
<li><a href="tel:+448008085791"><strong><img src="http://cdn.tokyowheel.com/gb.gif" alt="United Kingdom" class=""> United Kingdom <small class='text-muted'>(Toll Free)</small>  </strong> +44 800 808 5791</a></li>
<li><a href="tel:+43720884764"><strong><img src="http://cdn.tokyowheel.com/at.gif" alt="Austria" class=""> Austria  </strong> +43 720 884 764</a></li>
<li><a href="tel:+3278481705"><strong><img src="http://cdn.tokyowheel.com/be.gif" alt="Belgium" class=""> Belgium  </strong> +32 78 481 705</a></li>
<li><a href="tel:+4589883294"><strong><img src="http://cdn.tokyowheel.com/dk.gif" alt="Denmark" class=""> Denmark  </strong> +45 89 88 32 94</a></li>
<li><a href="tel:+358753251385"><strong><img src="http://http://cdn.tokyowheel.com/cdn.tokyowheel.com/fi.gif" alt="Finland" class=""> Finland  </strong> +358 75 325 1385</a></li>
<li><a href="tel:+33975189179"><strong><img src="http://cdn.tokyowheel.com/fr.gif" alt="France" class=""> France  </strong> +33 9 75 18 91 79</a></li>
<li><a href="tel:+85258084534"><strong><img src="http://cdn.tokyowheel.com/hk.gif" alt="Hong Kong" class=""> Hong Kong  </strong> +852 58084534</a></li>
<li><a href="tel:+353766805787"><strong><img src="http://cdn.tokyowheel.com/ie.gif" alt="Ireland" class=""> Ireland  </strong> +353 76 680 5787</a></li>
<li><a href="tel:+390811892137"><strong><img src="http://cdn.tokyowheel.com/it.gif" alt="Italy" class=""> Italy  </strong> +39 081 189 2137</a></li>
<li><a href="tel:+31858884391"><strong><img src="http://cdn.tokyowheel.com/nl.gif" alt="Netherlands" class=""> Netherlands  </strong> +31 85 888 4391</a></li>
<li><a href="tel:+6478083142"><strong><img src="http://cdn.tokyowheel.com/nz.gif" alt="New Zealand" class=""> New Zealand  </strong> +64 7 808 3142</a></li>
<li><a href="tel:+48618803256"><strong><img src="http://cdn.tokyowheel.com/pl.gif" alt="ydowo, Poland" class=""> Poland  </strong> +48 61 880 32 56</a></li>
<li><a href="tel:+351308802535"><strong><img src="http://cdn.tokyowheel.com/pt.gif" alt="Portugal" class=""> Portugal  </strong> +351 308 802 535</a></li>
<li><a href="tel:+46108848529"><strong><img src="http://cdn.tokyowheel.com/se.gif" alt="Sweden" class=""> Sweden  </strong> +46 10 8848529</a></li>
            				</ul>
      					</li>
                    </ul>
                      <ul class="nav navbar-nav navbar-right top">
                       
                        <li class=""><a href="/pages/contact" class="">Contact</a></li>
                        <li class=""><a href="/account#orders" class="">Track Order</a></li>
						
						
                        
     <% if spree_current_user %>
	 	<li><%= link_to Spree.t(:my_account), spree.account_path %></li>
	 	<li><%= link_to Spree.t(:logout), spree.logout_path %></li>
     <% else %>
	 	<li><%= link_to Spree.t(:login), spree.login_path %></li>
	 	<li><%= link_to Spree.t(:signup), spree_signup_path %></li>
  	 <% end %>
      
      
      <li>
        <%= render :partial => 'spree/shared/currency_selector' %>
      </li> 
	  <li>
	    <%= render :partial => 'spree/shared/locale_selector' %>
	  </li> 
                        
        </ul>
                  </div><!--/.nav-collapse -->
                </div><!-- row -->
              </div>  <!-- container -->
</div><!-- navbar static top -->

          <div role="navigation" class="navbar-main navbar-default navbar-static-top" id='main-nav'>
              <div class="container">
                  <div class="navbar-header hidden-sm">
                    <a class="navbar-brand slim hidden-xs" href="/"><img src="http://cdn.tokyowheel.com/logo-file.png" alt="Tokyowheel™"></a>
                    <a class="navbar-brand visible-xs" href="/"><img src="http://cdn.tokyowheel.com/logo-file.png" alt="Tokyowheel™"></a>  
                   
                    <% if false %>{% unless template contains 'cart' %}
                     <div class='visible-xs pull-right navbar-cart'>
            			<a href="/cart" class="btn btn-success navbar-btn" >
              				<i class="fa fa-shopping-cart fa-lg"></i> <span class="sr-only">Shopping Cart</span> {% if cart.item_count != 0 %}<span class='badge'>{{ cart.item_count }}</span>{% endif %}
            			</a>
         			</div>
                 
                    {% endunless %}<% end %>
                    
                    
                    
                    
                    
                    <button type="button" class="navbar-toggle pull-right " data-toggle="collapse" data-target=".navbar-ex1-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div><!-- navbar header -->
                
                
                <div class="navbar-header col-sm-12 visible-sm">
                    
                    <a class="navbar-brand col-sm-12 text-center" href="/"><img src="http://cdn.tokyowheel.com/logo-file.png" alt="Tokyowheel™"></a>
                    
                  </div><!-- navbar header -->
                
                
                  
                   <div class="collapse navbar-collapse navbar-ex1-collapse ">
   
                     
                     <ul class="nav navbar-nav">
      <li class="">
        <div>
  <a class='btn {% if cart.item_count == 0 %}btn-primary{% else %}btn-default{% endif %} navbar-btn' href="/pages/wheels" title="Wheels">
    Shop Wheels
  </a>
        </div>
</li>
<li class="">
  <a href="/pages/reviews" title="Reviews">
    Reviews
  </a>
</li>
<li class="">
  <a href="/pages/photos" title="Photos">
    Photos
  </a>
</li>
<li class="">
  <a href="/pages/information" title="Warranty & FAQ">
    Warranty & FAQ
  </a>
</li>
<li class="">
  <a href="/pages/information#shipping-delivery" title="Shipping & Customs Tax">
    Shipping
  </a>
</li>
<li class="">
  <a href="/pages/about" title="About Us">
    About
  </a>
</li>
                       
<% if false %><li class=" dropdown">
  <a href="#" title="About" class="dropdown-toggle" data-toggle="dropdown">
    Learn More
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="">
  <a href="/pages/reviews" title="Reviews">
    Reviews
  </a>
</li>
<li class="">
  <a href="/pages/photos" title="Photos">
    Photos
  </a>
</li>
<li class="">
  <a href="/pages/information" title="Warranty & FAQ">
    Warranty & FAQ
  </a>
</li>
<li class="">
  <a href="/pages/information#shipping-delivery" title="Shipping & Customs Tax">
    Shipping & Customs Tax
  </a>
</li>
<li class="">
  <a href="/pages/about" title="About Us">
    About Us
  </a>
</li>
<li class="">
  <a href="/pages/dealers" title="Find a Dealer">
    Find a Dealer
  </a>
</li>
<li class="">
  <a href="http://www.tokyowheel.com/pages/terms-conditions#terms" title="Terms & Conditions">
    Terms & Conditions
  </a>
</li>
<li class="">
  <a href="http://www.tokyowheel.com/pages/terms-conditions#privacy" title="Privacy Policy">
    Privacy Policy
  </a>
</li>
  </ul><% end %>
</li>
<li class="">
  <a href="/blogs/a" title="Blog">
    Blog
  </a>
</li>
     <li class="">
  <a class=''href="http://forum.tokyowheel.com" title="Forum">
    Forum
  </a>
</li>
<% if false %> <li class="">
  <a href="/pages/contact" title="Contact">
    FAQ
  </a>
</li> 
                       <li>
  <a href="/pages/share">Earn Money</a>
      </li><% end %>
    

                        <li class="dropdown visible-xs">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-phone"></i> Call Us 1-877-549-2069 <span class="caret"></span></a>
            				<ul class="dropdown-menu">
<li><a href="tel:+810345895010"><strong><img src="http://cdn.tokyowheel.com/jp.gif" alt="Japan" class=""> Tokyo, Japan  </strong> +81 03 4589 5010</a></li>
<li><a href="tel:+18775492069"><strong><img src="http://cdn.tokyowheel.com/us.gif" alt="USA" class=""> United States <small class='text-muted'>(Toll Free)</small>  </strong> +1 (877) 549-2069</a></li>
<li><a href="tel:+18775492069"><strong><img src="http://cdn.tokyowheel.com/ca.gif" alt="Canada" class=""> Canada <small class='text-muted'>(Toll Free)</small>  </strong> +1 (877) 549-2069</a></li>
<li><a href="tel:+61388997533"><strong><img src="http://cdn.tokyowheel.com/au.gif" alt="Australia" class=""> Australia  </strong> +61 3 8899 7533</a></li>
<li><a href="tel:+448008085791"><strong><img src="http://cdn.tokyowheel.com/gb.gif" alt="United Kingdom" class=""> United Kingdom <small class='text-muted'>(Toll Free)</small>  </strong> +44 800 808 5791</a></li>
<li><a href="tel:+43720884764"><strong><img src="http://cdn.tokyowheel.com/at.gif" alt="Austria" class=""> Austria  </strong> +43 720 884 764</a></li>
<li><a href="tel:+3278481705"><strong><img src="http://cdn.tokyowheel.com/be.gif" alt="Belgium" class=""> Belgium  </strong> +32 78 481 705</a></li>
<li><a href="tel:+4589883294"><strong><img src="http://cdn.tokyowheel.com/dk.gif" alt="Denmark" class=""> Denmark  </strong> +45 89 88 32 94</a></li>
<li><a href="tel:+358753251385"><strong><img src="http://cdn.tokyowheel.com/fi.gif" alt="Finland" class=""> Finland  </strong> +358 75 325 1385</a></li>
<li><a href="tel:+33975189179"><strong><img src="http://cdn.tokyowheel.com/fr.gif" alt="France" class=""> France  </strong> +33 9 75 18 91 79</a></li>
<li><a href="tel:+85258084534"><strong><img src="http://cdn.tokyowheel.com/hk.gif" alt="Hong Kong" class=""> Hong Kong  </strong> +852 58084534</a></li>
<li><a href="tel:+353766805787"><strong><img src="http://cdn.tokyowheel.com/ie.gif" alt="Ireland" class=""> Ireland  </strong> +353 76 680 5787</a></li>
<li><a href="tel:+390811892137"><strong><img src="http://cdn.tokyowheel.com/it.gif" alt="Italy" class=""> Italy  </strong> +39 081 189 2137</a></li>
<li><a href="tel:+31858884391"><strong><img src="http://cdn.tokyowheel.com/nl.gif" alt="Netherlands" class=""> Netherlands  </strong> +31 85 888 4391</a></li>
<li><a href="tel:+6478083142"><strong><img src="http://cdn.tokyowheel.com/nz.gif" alt="New Zealand" class=""> New Zealand  </strong> +64 7 808 3142</a></li>
<li><a href="tel:+48618803256"><strong><img src="http://cdn.tokyowheel.com/pl.gif" alt="ydowo, Poland" class=""> Poland  </strong> +48 61 880 32 56</a></li>
<li><a href="tel:+351308802535"><strong><img src="http://cdn.tokyowheel.com/pt.gif" alt="Portugal" class=""> Portugal  </strong> +351 308 802 535</a></li>
<li><a href="tel:+46108848529"><strong><img src="http://cdn.tokyowheel.com/se.gif" alt="Sweden" class=""> Sweden  </strong> +46 10 8848529</a></li>
            				</ul>
      					</li>

                        <li class="visible-xs"><a href="/account" class="">Track Order</a></li>
                        
      {% if customer %}
                        <li class="dropdown visible-xs">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>{{ customer.first_name }} {{ customer.last_name }} <span class="caret"></span></span></a>
            				<ul class="dropdown-menu">
                              {% if template contains 'account' %}
                              {% else %}
                              <li><a href="/account">Dashboard</a></li>
                              <li class=""><a href="/account" class="">Ambassador</a></li>
                              {% if customer.orders.size != 0 %}
                              <li class=""><a href="/account#orders" class="">Orders</a></li>
                              <li class=""><a href="/account#tax" class="">Customs Tax</a></li>
                              <li class=""><a href="/account#warranty" class="">Warranty</a></li>
                              <li class=""><a href="/account#return" class="">Returns & Exchanges</a></li>
                              {% endif %}
                              {% endif %}
                              
                              <li>{{ 'Log out' | customer_logout_link }}</li>
                          </ul>
                        </li>
  						  {% else %}
                          <li class="dropdown visible-xs">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
            				<ul class="dropdown-menu">
                              <li><a href="http://www.tokyowheel.com/account/login">Sign In</a></li>
                               <li><a href="http://www.tokyowheel.com/account/register">Create an Account</a></li>
                          </ul>
                        </li>
                       {% endif %}
                        
    </ul>
    <ul class="nav navbar-nav navbar-right">
     
      {% unless template contains 'cart' %}
      <li class=''>
         <div>

           <a href="/cart" class="btn btn-success navbar-btn" style='margin-right:15px;' data-hook>
              <span><i class="fa fa-shopping-cart fa-lg"></i> {% if cart.item_count != 0 %}<span class='badge'>{{ cart.item_count }}</span>{% endif %}<span class="visible-xs"> Shopping Cart</span></span>
            </a>
	          
			  
  	        <li id="link-to-cart" data-hook>
 	          <noscript>
 	            <%= link_to Spree.t(:cart), '/cart' %>
 	          </noscript>
 	        <script>Spree.fetch_cart()</script>
  	        </li>
			
<% if current_spree_page?(spree.cart_path) %>
<h2>YES Cart Page</h2>
<% else %>
<h2>NOT Cart Page</h2>
<% end %>

			
         </div>
          </li>
      {% endunless %}
      <% if false %> <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="http://cdn.tokyowheel.com/en-flag.png" alt="English" class=""> <span class="caret"></span>
            </a>
          <ul class="dropdown-menu">
              <li><a href="http://www.tokyowheel.com"><img src="http://cdn.tokyowheel.com/en-flag.png" alt="English" class=""> English</a></li>
				<li><a href="http://www.tokyowheel.jp"><img src="http://cdn.tokyowheel.com/jp-flag.png" alt="日本語" class=""> 日本語</a></li>
            </ul>
      </li><% end %>
      
    </ul> 
    
  </div><!-- /.navbar-collapse --> 
	</div><!-- navigation -->
            </div>          
<% if false %>
          <div role="navigation" class="navbar navbar-default no-margin sm-navbar navbar-square hidden-xs" id='sub-nav'>
            <div class='container'>
            <div class='row'>
             <div class='col-md-10 col-md-offset-1'>
                <form>
                  <div class="input-group search-form">
                   
  					<input type="text" class="form-control" placeholder='Search or Ask a Question?' id="st-search-input" class="st-search-input" />

                  <span class="input-group-btn">
              	<button class="btn btn-default" type="submit">
              <span class="fa fa-search fa-lg"></span>
                  </button>
             </span>
                  
             </div><!-- /input-group -->
              </form>
               
             </div><!-- col -->
            </div><!-- row -->
              </div><!-- container -->
</div><!-- navigation -->
<% end %>

<!-- end new navigation -->
						
  </div><!-- spree-header -->
</div><!-- header -->

