<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<link rel="shortcut icon" href="http://cdn.tokyowheel.com/tokyowheel-favicon.png" type="image/png" />
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<%= csrf_meta_tags %>
<%= javascript_include_tag 'spree/frontend/all' %>
<script>$(function() {$("img").unveil(500);});</script>
  <script type="text/javascript" src="//www.yotpo.com/js/yQuery.js"></script> 
  <!-- google webmaster verification -->
  <meta name="google-site-verification" content="skv0F6aHHrQD5yqiVkivyS47jsrHlNVZeC3EJg3GECM" />
  <!-- end google webmaster verification -->  
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= yield :head %>
