<% self.title = ERB.new(@blog_entry.title).result(binding) %> <!-- set page title via translated content -->
<% content_for :head do %>
  <% if !@blog_entry.author.blank? and !@blog_entry.author.google_plus_url.blank? %>
    <link rel="author" href="<%= @blog_entry.author.google_plus_url %>"/>
  <% end %>
<% end %>

<% content_for :sidebar do %>
 
<% end %>

<div id="blog_entry_container" class='container'>
  <div id="blog_entry_entry" class='row'>
	  <div class='col-md-9 '>

    <h1 class='article page-header'><%= ERB.new(@blog_entry.title).result(binding).html_safe %></h1>
<%= render :partial => 'spree/blog_entries/blog_entry_details', :locals => {:blog_entry => @blog_entry} %>
<hr class='article-header'>
    <div class="blog_entry_body">
	  <%= ERB.new(@blog_entry.body).result(binding).html_safe %>
    </div><!-- blog_entry_body -->
	<%= render :partial => 'spree/blog_entries/comments', :locals => {:blog_entry => @blog_entry}  %>
	    </div><!-- col -->
	    <div class='col-md-3'>
	  	  <%= render :partial => 'spree/blog_entries/blog_sidebar' %>
	    </div>
  </div><!-- blog_entry_entry -->

 
</div><!-- blog_entry_container -->


